@media screen and (max-width: 767px){
    .promo{
        &__wrapper{
            display: flex;
            align-items: center;
        }
    }
    .carousel{
        &__inner{
            width: 400px;
            img{
                width: 70%;
                margin: 0 auto;
            }
        }
    }
    .slick-dots{
        margin-top: 30px;
    }
    
    .comment{
        &__item{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__descr{
            text-align: center;
            margin-left: 0;
            margin-top: 15px;
        }
    }
}



@media screen and (max-width: 650px){
    .header{
        &__official{
            display: none;
        }
    }
}

@media screen and (max-width: 575px){
    .advance{
        &__wrapper{
            flex-direction: column;
        }
        &__icon{
            margin-left: 0;
        }
        &__icon{
            margin-top: 15px;
        }
    }
    .catalog{
        &__tabs{
            flex-wrap: wrap;
        }
        &__tab{
            &:nth-child(3){
                margin-top: 5px;
            }
        }
    }
}
@media screen and (max-width: 485px){
    .catalog{
        &__tab{
            margin-top: 10px;
            &:nth-child(3){
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 426px){
    .header{
        &__logo{
            width: 170px;
        }
        &__phone{
            font-size: 13px;
        }
        &__contacts{
            button{
                width: 120px;
                font-size: 10px;
            }
        }
    }
    .carousel{
        &__inner{
            width: 100%;
            img{
                width: 40%;
                margin: 0 auto;
            }
        }
    }

    .footer{
        &__info{
            width: 100%;
        }
    }

}
